# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
file/
target/

src/main/java/com/gentleni/jvm/Jvm$OomPbject.class
src/main/java/com/gentleni/jvm/Jvm.class
src/main/java/com/gentleni/spring/aop/
src/test/java/com/
src/main/java/com/gentleni/a_demo/*