# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
file/
target/

JavaBasic/src/main/java/com/gentleni/jvm/Jvm$OomPbject.class
JavaBasic/src/main/java/com/gentleni/jvm/Jvm.class
Framework/src/main/java/com/gentleni/spring/aop/
src/test/java/com/
Framework/src/main/java/com/gentleni/a_demo/*